@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  padding: 20px 30px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.header ul li {
  margin-left: 20px;
}

.header ul li logo a {
  display: flex;
  align-items: center;
}

.header .logo a{
  color: #101010;
    text-decoration: none;
    font-weight: 300;
    font-size: 25px;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group :focus {
  outline: none;
}


.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

/* Login Form start */
*, *:before, *:after {
  box-sizing: border-box;
}

.loginform a {
  text-decoration: none;
  color: #1ab188;
  transition: 0.5s ease;
}

.loginform {
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #c74000;
  color: #ffffff;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

li.tab.std a:hover {
  color: #3d5a80;
  background: #ffffff;
  border: 1px solid #3d5a80;
  padding: 14px;
}

li.tab.adm a:hover {
  color: #c74000;
  background: #ffffff;
  border: 1px solid #c74000;
  padding: 14px;
}

.tab-group .std a {
  background: #3d5a80;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

.loginform h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

.loginform label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
.loginform label .req {
  margin: 2px;
  color: #ff0000;
}

.loginform label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
.loginform label.active .req {
  opacity: 0;
}

.loginform label.highlight {
  color: #ffffff;
}

.loginform input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #0c0b0b;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
.loginform input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

.loginform textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.loginform .field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.loginform .top-row:after {
  content: "";
  display: table;
  clear: both;
}
.loginform .top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.loginform .top-row > div:last-child {
  margin: 0;
}

.loginform .button-admin-login {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 13px 0;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #c74000;
  color: #ffffff;
  width: 100%;
  margin-top: 26px;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.loginform .button-admin-login:hover {
  background: #ffffff;
  color: #c74000;
  border: 1px solid #c74000;
}

.loginform .button-student-login {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 13px 0;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #3d5a80;
  color: #ffffff;
  width: 100%;
  margin-top: 26px;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.loginform .button-student-login:hover {
  background: #ffffff;
  color: #3d5a80;
  border: 1px solid #3d5a80;
}
.loginform .button:hover, .loginform .button:focus {
  background: #179b77;
}

.loginform .button-block {
  display: block;
  width: 100%;
}

.loginform .forgot {
  margin-top: -20px;
  text-align: right;
}/*# sourceMappingURL=style.css.map */
/* Login form End */



/* User Dashboard */

.left-nav{
  background-color: #555;
  max-width: 300px;
  width: 100%;
}

.left-nav-items{
  color: #e6e6e6;
  font-size: 18px;
  
  padding: 0;
}

.left-nav-items li{
  line-height: 2.2;
  padding: 6px 15px 6px 20px;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  box-shadow: -1px 4px 5px 1px #2c2c2c;
  margin: 8px 0px;
}

.left-nav-items li:hover{
  background-color: white;
  color: #2c2c2c;
  border-top: 1px solid #2c2c2c;
  border-bottom: 1px solid #2c2c2c;
}

.left-nav-items li span{
  float: right;
}

.dash-title{
  color: #e6e6e6;
  font-size: 18px;
  padding: 24px 0px;
  text-align: center;
}

.dashboard-body{
  background-color: #e6e6e6;
  width: 100%;
  padding: 30px;
}

.userDashboard{
  display: flex;
  min-height: 100vh;
}

/* Style The application-selection Button */
.application-selection-drop {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the application-selection content */
.application-selection {
  position: relative;
  display: inline-block;
}

/* application-selection Content (Hidden by Default) */
.application-selection-drop-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 240px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
}

/* Links inside the application-selection */
.application-selection-drop-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of application-selection links on hover */
.application-selection-drop-content a:hover {background-color: #f1f1f1}

/* Show the application-selection menu on hover */
.application-selection:hover .application-selection-drop-content {
  display: block;
}

/* Change the background color of the application-selection button when the application-selection content is shown */
.application-selection:hover .application-selection-drop {
  background-color: #3e8e41;
}

/* .application-form-page{
  display: flex;
} */

.application-title{
  float: right;
}


/* Application-Form-Starts */

.apform{
  padding: 30px 0;
}

.form-section{
  display: flex;
}



.form-check-label{
margin-right: 20px;
margin-left: 10px;
}

.form-check{
  text-align: left;
  padding: 30px 0;
  display: inline-block !important;
}

.application-selection:hover .application-selection-drop-content {
  display: block;
  max-width: 80px;
  width: 80px;
}

.application-selection:hover .application-selection-drop {
  background-color: #3e8e41;
  min-width: 240px;
  width: 100%;
}
/* Application-Form-Starts */

/* My Application */

.table {
  background: white;
}
/* My Application */


/* Profile */
.profile-img{
  max-width: 200px;
  border: 1px solid gray;
  margin-bottom: 10px;
}
.profile-img img{
  height: 100%;
  width: 100%;
}

.profile-image-input{
  margin-left: -13px;
}

.page-title {
  font-size: 25px;
  color: #4e4b4beb;
  text-align: left;
}

.page-title-div{
  
  padding: 20px 0 38px 0;
  display: flex;
  justify-content: space-between;
}

.profile-form-section {
  border-top: 1px solid #00000042;
  border-bottom: 1px solid #00000042;
  padding: 5px 0 0;
}

.profile-form-section h2{
  text-align: left;
    font-size: 20px;
    color: #000000a3;
    font-weight: inherit;
    border-bottom: 1px solid #00000042;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-bottom: 20px;
}

.componentDeActive{
  display: none;
}

.componentActive{
  display: block;
}
/* Profile */
/* User Dashboard */